body{
    background-image: url(../images/skyrim_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron{
    padding: 0px;
    margin-bottom: 14px;
    margin-top:0px;
    text-align: center;
    background-color: #e9ecef;
}
footer {
    background-color: #e9ecef;
    color: black;
    padding: 15px;
    position: absolute;
    bottom:0px;
  }
.list-group{
    text-align: left;
   }
.badge{
    float:right;
}
.badge-error {
    background-color: rgb(245, 70, 70);
    color: white;
  }

 #instruction{
     color: white;
 }
 #gem2{
    background-color: white;
}
#gem3{
    background-color: white;
}
#gem4{
    background-color: white;
}
  